* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

.main-listings-box {
  padding: 0px 15px;
  margin: 0 auto;
}

.section {
  display: flex;
}

#right_side {
  width: 380px;
  height: 565px;
  position: relative;
  background: linear-gradient(to bottom, #ededed, #ffffff);
  margin-top: 5px;
  margin-right: 30px;
  padding: 10px 20px;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
}
#main-listings-box {
  width: 1000px;
  height: auto;
  position: relative;
  margin-right: 20px;
  background: linear-gradient(to left, #ededed, #ffffff);
  overflow: hidden;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(300, auto);
  grid-column-gap: 5px;
}

.input-group {
  top: 0px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field-ml {
  width: 100%;
  padding: 10px 0;
  margin: 5px 5px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  text-align: center;
}
.input-field-ulml {
  width: 100%;
  padding: 10px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.input-field-urml {
  width: 50%;
  padding: 5px 0;
  margin: 5px 5px 5px 80px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  text-align: center;
  display: grid;
}
.mint-btn {
  width: 85%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: 10px 0px 30px 30px;
  background: linear-gradient(to right, #ff3131, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.float-child {
  position: relative;
  width: 50%;
  float: right;
  padding: 20px;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}

.floating-child {
  position: relative;
  width: 50%;
  float: right;
  padding: 20px;
  margin: 10px 10px;
}
.feature-product-box {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 6% auto;
  background: #ededed;
  margin-top: 5px;
  overflow: hidden;
  border-radius: 20px;
}
.house-image {
  width: 200px;
  height: 160px;
}
.product-feature-text-container {
  text-align: center;
}
.delete-button {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
  background: linear-gradient(to right, #ff3131, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.input-img {
  height: 200px;
  width: 200px;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
  background-color: lightgray;
}

#file-upload {
  display: none;
}

#file-upload-label {
  font-size: 0.8em;
  padding: 5px 7.5px;
  border: 1px solid #767676;
  color: #767676;
  border-radius: 4%;
  cursor: pointer;
}

#file-upload-label:hover {
  color: #000000;
  border: 1px solid #000000;
  background-color: #999;
}

#no-image {
  font-size: 1.5em;
  width: 200px;
  height: 160px;
  color: #767676;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ML-user-interaction-box-area {
  padding-left: 30px;
}
