ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.03);
}
.menu {
  display: flex;
}
.menu li a {
  margin: 5px;
  padding: 5px 20px;
  color: #fff;
  font-weight: 500;
  opacity: 0.4;
  transition: all ease 0.3s;
}
.menu .active {
  opacity: 1;
}

.menu li a:hover {
  opacity: 1;
  transition: all ease 0.3s;
}

.logo {
  font-size: 2.1rem;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.right-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-elements a {
  margin: 0px 10px;
}
.right-elements a i {
  color: #2c2c2c;
}
.right-elements a:hover i {
  color: #cf2778;
  transition: all ease 3s;
}
