* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}

.dashboard {
  padding: 0px 5px;
  margin: 0 auto;
}

.value {
  width: 770px;
  height: 200px;
  position: relative;
  margin: 6% auto;
  background: linear-gradient(to bottom, #ededed, #ffffff);
  padding: 5px;
  margin-top: 60px;
  overflow: hidden;
  border-radius: 20px;
  text-align: center;
  padding: 86px;
}

.upper-form-box {
  width: 380px;
  height: 300px;
  position: relative;
  margin: 6% auto;
  background: linear-gradient(to bottom, #ededed, #ffffff);
  margin-top: 5px;
  overflow: hidden;
  border-radius: 20px;
}
.button-box {
  width: 290px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: linear-gradient(to right, #ff3131, #ffad06);
  border: 0;
  outline: none;
  position: relative;
  font-size: 13px;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff3131, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}
.input-group {
  top: 130px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px 10px 30px 0;
  background: linear-gradient(to right, #ff3131, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.shared-btn-container {
  display: flex;
  flex-direction: row;
}

.lower-form-box {
  width: 380px;
  height: 300px;
  position: relative;
  margin: 6% auto;
  background: linear-gradient(to bottom, #ededed, #ffffff);
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
}

.terminate-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.terminate-shares {
  height: 50px;
  width: 50px;
  display: flex;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
}

.terminate-btn {
  width: 280px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px 10px 30px 0;
  background: linear-gradient(to right, #ff3131, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.terminate-status {
  text-align: center;
  margin: 60px 10px 10px 0;
  font-size: 30px;
}

.upper-right-actions {
  width: 380px;
  height: 250px;
  position: relative;
  background: linear-gradient(to bottom, #ededed, #ffffff);
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
}

.lower-right-actions {
  width: 380px;
  height: 250px;
  position: relative;
  margin: 6% auto;
  background: linear-gradient(to bottom, #ededed, #ffffff);
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
}
.shares-status {
  text-align: center;
  margin: 68px 10px 52px 0;
  font-size: 30px;
}

.payment-status {
  text-align: center;
  margin: 68px 10px 52px 0;
  font-size: 30px;
}
.payment-group {
  left: 30px;
  position: relative;
  transition: 0.5s;
}
#left_hand {
  float: left;
  margin-right: 20px;
}
#right_hand {
  float: right;
  margin-left: 20px;
}
